body {
  padding-left: 40px;
  }

h1 {
  margin-left: 50px;
  font-family: Chronicle Display,Scala Sans Pro,sans-serif;
  }

svg g.chart rect.background, circle.background {
  fill: #f0f0f0;
  }

svg text.share-class-name {
  font-family: Chronicle Display,Scala Sans Pro,sans-serif;
  font-size: 16pt;
  }

svg g.axis line {
  stroke: black;
  }

svg g.axis text {
  fill: black;
  }

svg g.axis text.axis-label {
  font-family: Georgia;
  font-size: 14px;
  text-transform: uppercase;
  fill: #143b4a;
  }

svg g.axis text.axis-label::after {
  content: ' →';
  }

svg g.x.axis text.axis-label {
  text-anchor: start;
  }

svg g.y.axis text.axis-label {
  /* transform: rotate(-90deg); */
  text-anchor: start;
  font-size: 15px;
  }

svg g.chart g.grid g.tick line {
  stroke: #f8f8f8;
  }

svg g.chart g.grid path { /* line on the left */
  visibility: hidden;
  }

svg #slider line {
  stroke-linecap: butt;
  }

svg #slider line.track-fill, svg #slider line.track-inset {
  stroke-width: 9px;
  }

svg #slider line.track-fill {
  stroke: #f0f0f0;
  }

svg #slider line.track-inset {
  stroke: #ffb600;
  }

svg g.chart g.focus line {
  stroke: #002d39;
  stroke-dasharray: 4, 4;
  opacity: 0.2;
  }

div#vis ul li {
  display: inline;
  padding: 0;
  margin: 0;
  }

div#vis ul li label {
  border: 1px black solid;
  margin: 5px;
  padding: 5px 10px 6px 10px;
  text-transform: uppercase;
  font-family: FF Scala Sans Pro,Trebuchet MS;
  font-size: 12px;
  background-color: #143b4a;
  color: #f0f0f0;
  border-color: #f0f0f0;
  }

div#vis ul li input[type=checkbox] {
  position: relative;
  top: 2px;
  padding: 0;
  margin: 0 0 0 9px;
  accent-color: white;
  }

circle {
  opacity: 100%;
  fill: #003b4a;
  stroke: #f0f0f0;
  stroke-width: 1px;
  }

circle.trail {
  fill: #356872;
  stroke: none;
  opacity: 10%;
  }

circle.selected {
  stroke: #003b4a;
  fill: #003b4a;
  opacity: 100%;
  }

circle.background {
  stroke: #e0e0e0;
  opacity: 0.2;
  }

div#vis ul li label.bonds, circle.bonds { background-color: #65BAAF; fill: #65BAAF; }
div#vis ul li label.alternative, circle.alternative { background-color: #71A850; fill: #71A850; }
div#vis ul li label.mixed, circle.mixed { background-color: #E43D30; fill: #E43D30; }
div#vis ul li label.equity, circle.equity { background-color: #B487B8; fill: #B487B8; }
div#vis ul li label.fund_of_funds, circle.fund_of_funds { background-color: #AC3C72; fill: #AC3C72; }

circle.peers, circle.benchmark {
  fill: #143b4a;
  stroke: #e0e0e0;
  display: none;
  }

circle.peers.selected, circle.benchmark.selected {
  display: inline;
  }

