body {
  padding-left: 40px;
  }

h1 {
  margin-left: 50px;
  font-family: Chronicle Display,Scala Sans Pro,sans-serif;
  }

g.chart rect.background {
  fill: #f0f0f0;
  }

text.fund-name {
  font-family: Chronicle Display,Scala Sans Pro,sans-serif;
  font-size: 16pt;
  }

g.axis line {
  stroke: black;
  }

g.axis text {
  fill: black;
  }

g.axis text.axis-label {
  font-family: Georgia;
  font-size: 14px;
  text-transform: uppercase;
  fill: #143b4a;
  }

g.axis text.axis-label::after {
  content: ' →';
  }

g.x.axis text.axis-label {
  text-anchor: start;
  }

g.y.axis text.axis-label {
  /* transform: rotate(-90deg); */
  text-anchor: start;
  font-size: 15px;
  }

g.grid g.tick line {
  stroke: #f8f8f8;
  }

g.grid path { /* line on the left */
  visibility: hidden;
  }

g#slider line {
  stroke-linecap: butt;
  }

g#slider line.track-fill, g#slider line.track-inset {
  stroke-width: 9px;
  stroke: #f0f0f0;
  }

g#slider line.track-fill.fixed-period {
  stroke-width: 12px;
  stroke: #ffb600;
  }

g#slider g.parameter-value path.handle {
  visibility: hidden;
  }

g#slider text#play-button {
  cursor: pointer;
  fill: #003b4a;
  stroke: #003b4a;
  stroke-width: 1px;
  }

g.focus line {
  stroke: #002d39;
  stroke-dasharray: 4, 4;
  opacity: 0.2;
  }

div#vis ul li {
  display: inline;
  padding: 0;
  margin: 0;
  }

div#vis ul li label {
  border: 1px black solid;
  margin: 5px;
  padding: 5px 10px 6px 10px;
  text-transform: uppercase;
  font-family: FF Scala Sans Pro,Trebuchet MS;
  font-size: 12px;
  }

div#vis ul li input[type=checkbox], div#vis ul li input[type=radio] {
  position: relative;
  top: 2px;
  padding: 0;
  margin: 0 0 0 9px;
  }

div#vis ul li input[type=radio] {
  top: 3px;
  }

div#vis ul.asset-types li input[type=checkbox] {
  accent-color: white;
  }

div#vis ul.asset-types li label {
  color: #f0f0f0;
  border-color: #f0f0f0;
  }

path.symbol {
  stroke-width: 0px;
  }

path.symbol.selected {
  }

path.symbol.background {
  }

.bonds         { background-color: #65BAAF; fill: #65BAAF; stroke: #65BAAF; }
.alternative   { background-color: #71A850; fill: #71A850; stroke: #71A850; }
.mixed         { background-color: #E43D30; fill: #E43D30; stroke: #E43D30; }
.equity        { background-color: #B487B8; fill: #B487B8; stroke: #B487B8; }
.fund_of_funds { background-color: #AC3C72; fill: #AC3C72; stroke: #AC3C72; }

path.symbol.peers, path.symbol.benchmark {
  fill: #143b4a;
  stroke: #e0e0e0;
  }

path.trail {
  fill: none;
  stroke: #bababa;
  stroke-width: 6px;
  opacity: 10%
  }

circle.trail {
  r: 1px;
  stroke: #bababa;
  filter: brightness(60%);
  opacity: 10%
  }

