svg {
  margin-left: 40px;
}

svg #slider line.track-fill {
  stroke: lightgrey;
}

svg #slider line.track-inset {
  stroke: chocolate;
}

svg #slider line.track {
  stroke: chocolate;
}

input[type=range] {
  width: 300px;
  direction: rtl;
  margin-left: 930px;
  margin-top: 10px;
}

circle {
  r: 6;
  fill: grey;
  opacity: 0.4;
  stroke: midnightblue;
  stroke-width: 2;
}

circle.trail {
  fill: burlywood;
  stroke: none;
  opacity: 0.2;
}

circle.selected {
  stroke: chocolate;
  opacity: 0.8;
}
